/*Pre-Setup*/
* {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
box-sizing: border-box;

}

/*Main Structure*/


header, main{
    border: 3px solid red;

}

section {
    border: 4px solid lime;
  
}

logo-words {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}
p a, li a {
    display: inline-block;
    color: blue;
    text-decoration: none;
}

/*Page Flow Settings*/

html {
    --blue: #59c4ca;
    --black: #000000;
    --white: #efefee;
    --red: #fd191e;
    --yellow: #ffd60a;
    --gray: #48494b;


}

.title-font {
    font-size: 30px;
    font-weight: 700;
    line-height: .8;

}

.body-font {

    font-size: 1rem;
    line-height: 1.3;
}

/* Workable components*/

.button {
    display: inline-block;
    background-color: var(--blue);
    color: white;
    font-size: 1.2rem;
    padding: .6em 1em;
    border-radius: 6px; /*rounding edges*/
    
}


/* Sticky footer from flex-direction:column;
min-height 100vh and main flex-grow:1  
Phillip Walton- Sticky FOoters
*/

/*mapping outline for personal view*/

body * {
    border: 2px solid seagreen;
    padding: 2px
}

/* Styles in body*/

body {
    display: flex;
    flex-direction: column;
    border: 10px solid blue;
    min-height: 100vh;

}

main {
    flex-grow: 1;
}

/*Section 2 of drawn layout*/

inner-column {
    display: block;
    border: 4px solid rgb(7, 42, 199);
    padding: 10px;

    /*center the overall design of the columns*/
    width: 98%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

logo-words {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid slateblue;
}

logo-words graphic-content  {


}

logo-words text-content {
    display: block;
}

/*Targeted logo-words text-content p 
logo-words text-content .button 
for specific margin between the items*/

logo-words text-content p {
    margin-top: 10px;
}

logo-words text-content .button {
    margin-top: 10px;
}




/* @Media is targeting logo-words and telling it to
display flex which puts graphic and text into a row
reversed the direction to have text on left and img on right
put a gap of 20px to not smash it.*/

@media (min-width: 700px) {
        logo-words {
            flex-direction:row-reverse;
        }
        logo-words :is(text-content, graphic-content){
            flex-basis: 50%;
            border: 1px solid blue;
            

        }
}

.welcome {
    background-color: var(--gray);
    opacity: .8;
    color: var(--blue);
}


footer {
    border: 3px solid blue;

}