/*Pre-Setup*/
* {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
box-sizing: border-box;

}

/*Main Structure*/


header, main{
    border: 3px solid red;

}

section {
    border: 4px solid lime;
  

}

logo-words {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}




/* Sticky footer from flex-direction:column;
min-height 100vh and main flex-grow:1  
Phillip Walton- Sticky FOoters
*/

/*mapping outline for personal view*/

body * {
    border: 2px solid seagreen;
    padding: 2px
}

/* Styles in body*/

body {
    display: flex;
    flex-direction: column;
    border: 10px solid blue;
    min-height: 100vh;

}

main {
    flex-grow: 1;
}

inner-column {
    display: block;
    border: 4px solid rgb(7, 42, 199);
    padding: 10px;
}

logo-words {
    display: block;
    border: 3px solid slateblue;
}

logo-words graphic-content  {
    display: block;

}

logo-words text-content {


}

@media (min-width: 700px) {
        logo-words {
            display:flex;
            flex-direction:row-reverse;
        }
}




footer {
    border: 3px solid blue;

}