/*Pre-Setup*/
* {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
box-sizing: border-box;

}

/*Main Structure*/


header, main{
    border: 3px solid red;

}

section {
    border: 4px solid lime;
  

}

/* Sticky footer from flex-direction:column;
min-height 100vh and main flex-grow:1  
Phillip Walton- Sticky FOoters
*/

body {
    display: flex;
    flex-direction: column;
    border: 10px solid blue;
    min-height: 100vh;

}

main {
    flex-grow: 1;
}

inner-column {
    display: block;
    border: 4px solid rgb(7, 42, 199);
    padding: 10px;
}

graphic-content {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}







footer {
    border: 3px solid blue;

}